body {
   color: #000;
   background: #fff;
   border-top-color: #000
	 margin: auto;
	 padding: 0 16px;
   align-items: center;
	 font-family: sans-serif;
}
a {
   color: #34374c;
}
a:hover {
   color: #272939;
}
.highlight .il {
   color: #cb4b16;
}
h2 {
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.items {
   padding-top: 30px;
   padding-left: 40px;
   top: 50%;
   left: 50%;
   /* transform: translate(-50%, -50%); */

}
.search {
  width: 100%;
  position: relative;
  display: flex;
  bottom: 400px;
}

#searchInput {
  width: 100%;
  border: 3px solid #0b0c0c;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#searchInput:focus{
  color: #0b0c0c;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #0b0c0c;
  background: #0b0c0c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
